@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tarjetas de imágenes */
.tarjeta {
    width: 100%;            
    max-width: 350px;        
    height: auto;
    background-color: #5e5656;
    color: #e9e9e9;            
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 6px 6px 0 0; 
}

.info {
    padding: 8px;
}

.info h3 {
    font-size: 14px;
    margin-bottom: 6px;
}

.info p {
    font-size: 11px;
    line-height: 1.3;
    color: #ffffff;
}

/* Menú Contenedor */
.menu-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;      
    padding: 10px 20px;
    background-color: #323232;    
}

.buscador {
    max-width: 300px;
    width: 100%;
}

.iconos-grupo {
    display: flex;
    gap: 15px;
}

.logo img {
    padding: 5px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: invert(90%) sepia(10%) saturate(300%) hue-rotate(340deg);
}

/* Estructura Base de la página (Móvil Primero) */
body {
    display: grid;
    grid-template-areas:
    "nav"
    "menu"
    "intro"
    "main"
    "detalles"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto auto auto; 
    min-height: 100vh;
}

nav {
    grid-area: nav;
    background-color: #252424;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 0px 25px;
    font-family: "Roboto Slab", serif;
    background-color: #000000;
}

.titulo {
    height: 100%;      
    display: flex;/
    align-items: center;
}

.titulo img {
    height: auto;       
    max-height: 60px;   
    width: auto;        
    object-fit: contain;
    filter: invert(100%); 
}
menu {
    grid-area: menu;
    height: auto;
    background-image: url(../img/fondo\ .png);
}

.intro{
    grid-area: intro;
    background-image: url(../img/fondo\ .png);
    height: 220px;
    color: aliceblue;
    padding: 25px 25px ;
    -ms-text-align-last: ;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column; 
    gap: 20px;            
    background-color: rgb(245, 245, 231);
    align-items: center;
    padding: 30px;  
    background-image: url(../img/black-felt-texture.jpg);
}

/* ==========================================
   EFECTO ZOOM PARA LAS TARJETAS (MAIN)
   ========================================== */
.efecto-imagen {
    width: 100%;
    max-width: 350px;     
    height: 250px;        
    overflow: hidden;    
    border-radius: 10px 10px 0 0; 
}

.efecto-imagen .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;     
}

.efecto-imagen .img:hover {
    transform: scale(1.3); 
}

/* ==========================================
   Sección detalles
   ========================================== */
.detalles {
    grid-area: detalles;
    background-color: rgb(245, 245, 231);
    display: flex;
    flex-direction: column;    
    align-items: center;      
    gap: 20px;
    padding: 30px;
    background-image: url(../img/black-felt-texture.jpg)
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 280px;          
    min-height: 160px;         
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.card p {
    font-size: 13px;
    line-height: 1.4;
    color: #555;
    margin: 0;
}

/* ANIMACIONES */
@keyframes aparecerIzquierda {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flotar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

/* Footer (Móvil) */
footer {
    grid-area: footer;
    background-color: #252424;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    gap: 15px;
    padding: 20px 10px;    
    font-family: sans-serif;
}

.foot {
    display: flex;
    align-items: center;   
    gap: 8px;              
}

.foot img {
    width: 18px;           
    height: 18px;          
    object-fit: contain;
    filter: invert(100%);  
}

.foot p {
    font-size: 12px;       
    margin: 0;            
}

/* ==========================================
  MEDIA QUERIES (ESCRITORIO)
   ========================================== */
@media (min-width: 576px) {

    body {
        grid-template-areas:
        "nav nav"
        "menu menu"
        "intro intro"
        "main main"
        "detalles detalles"
        "footer footer";
        grid-template-columns: 250px 1fr;    
        grid-template-rows: 80px auto auto auto;
    }

 
    main {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    } 

    .detalles {
        flex-direction: row;       /
        justify-content: center;
        align-items: stretch;      
        gap: 20px;
        width: 100%;
    }

    .card {
        flex: 1;                   
        max-width: 280px;          
    }
    footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 15px 10px;
    }
}